html,
body {
  overscroll-behavior-x: none;
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: var(--tt-bg-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: 'Pretendard', sans-serif;
}

.tiptap.ProseMirror b,
.tiptap.ProseMirror strong {
  font-weight: bolder;
}

.tiptap.ProseMirror em {
  font-style: italic;
}

.simple-editor-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.simple-editor-search-and-replace {
  position: fixed;
  top: calc(var(--tt-toolbar-height) + 0.5rem);
  right: 0.5rem;
  z-index: 51;
  max-height: calc(100dvh - var(--tt-toolbar-height) - 1rem);
}

.simple-editor-content {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 3rem 20px;
}

@media screen and (max-width: 480px) {
  .simple-editor-search-and-replace {
    top: 0.5rem;
    left: 0.5rem;
    width: auto;
    max-height: calc(100dvh - 1rem);
  }

  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 20px;
  }
}
