@keyframes gradient-move {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: 0% 0;
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
