.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  &__btn {
    @include preMedium();
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: #333;
    font-size: 12px;
    transition: 0.1s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
    }

    &--prev,
    &--next {
      background: #f3f3f3;

      &:disabled {
        color: #aaa;
        cursor: not-allowed;
        opacity: 0.3;

        &:hover {
          box-shadow: none;
        }
      }

      .icon {
        width: 30px;
        height: 30px;
      }
    }

    &--next {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &__nums {
    display: flex;
    gap: 10px;
  }

  &__num {
    @include preMedium();
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: #333;
    transition: 0.1s box-shadow;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
    }

    &--active {
      background: #0090f9;
      color: #fff;

      &:hover {
        box-shadow: none;
      }
    }
  }
}
