.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-top: 60px;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  margin-top: auto;
}
