.modal-root {
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  pointer-events: auto;
  opacity: 1;
  background-color: #fff;
  width: 100%;
  max-width: 340px;
  border-radius: 4px;
  padding: 40px 24px 24px;

  &--center {
    @include pos-center();
  }

  &__content {
    margin-bottom: 40px;
  }

  &__message {
    @include preMedium();
    font-size: 16px;
    line-height: 19px;
    color: #222;
    text-align: center;
  }

  &__footer {
    @include flex-pos($ai: center, $g: 10px);
  }

  &__btn {
    @include preMedium();
    @include flex-pos($jc: center, $ai: center);
    font-size: 14px;
    border-radius: 4px;
    padding: 0 15px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #222;
    background-color: #eee;
    transition: 0.3s;

    &:hover {
      background-color: #e0e0e0;
    }

    &:disabled {
      color: #bbb;
      background-color: #eee;
      pointer-events: none;
    }

    &--accent {
      color: #fff;
      background-color: #0090f9;

      &:hover {
        background-color: #0089eb;
      }
    }
  }
}
