.footer {
  background: #2e2e2e;
  padding: 70px 0;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__desc {
    @include preBold();
    color: #fff;
    font-size: 14px;
  }
}
