.notice-list {
  @include flex-pos($fd: column, $g: 15px);
  min-height: 600px;

  &__item {
    &--empty,
    &--loading {
      @include flex-pos($jc: center, $ai: center);
      min-height: inherit;
    }
  }

  &__item-box {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1215686275);
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &__info {
    @include preMedium();
    display: flex;
    gap: 20px;
    font-size: 18px;
  }

  &__sub-info {
    @include preMedium();
    font-size: 14px;
    color: #807c7c;
  }
}
