.notice-detail {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;

  &__header {
    padding: 50px 0 20px;
    border-bottom: 1px solid #eee;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &__actions {
    @include flex-pos($ai: center, $jc: space-between);
  }

  &__info {
    @include flex-pos($ai: center);
    font-size: 14px;
    color: #222;

    .separator {
      margin: 0 0.5rem;
    }
  }

  &__nickname {
    font-size: 16px;
    font-weight: 600;
  }

  &__date,
  &__views {
    color: #495057;
  }

  &__btn-box {
    @include flex-pos($ai: center, $g: 10px);
  }

  &__content {
    padding: 50px 0;
    border-bottom: 1px solid #eee;
  }

  &__desc {
    @include preRegular();
    font-size: 18px;
    line-height: 1.5;
  }

  &__footer {
    @include flex-pos($jc: center, $g: 20px);
    padding: 100px 0;
  }

  &__btn {
    @include preMedium();
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    background-color: #222;
    transition: 0.1s;
    color: #fff;

    &:hover {
      background-color: #000;
    }

    &--edit {
      color: #222;
      background-color: #eee;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
